.input {
  border: 0;
  border-radius: 0.75rem;
  color: var(--main-text);
  font-size: 1rem;

  &::placeholder {
    color: var(--tertiary-text);
    opacity: 0.7;
  }

  &:focus-visible {
    outline: none;
  }
}

.input--primary {
  background: var(--primary-input);

  &:hover {
    background: var(--primary-input-hover);
  }

  &:active {
    background: var(--primary-input-pressed);
  }
}

.input--secondary {
  border: 1px solid var(--secondary-input);
  background: transparent;

  &:hover {
    border: 1px solid var(--secondary-input-hover);
  }

  &:active {
    border: 1px solid var(--secondary-input-pressed);
  }

  &::placeholder {
    color: var(--secondary-text);
  }
}

.input--small {
  padding: 0.25rem 0.5rem;
}

.input--medium {
  padding: 0.5rem 1rem;
}
