.game-page__content {
  justify-content: flex-start;
}

.game-page__title {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.game-page__title-caption {
  margin-bottom: 3rem;
}

.game-page__button {
  margin-top: 3rem;
}
