$xxsmall-max-width: 35rem;
$xsmall-max-width: 47.938rem;
$small-max-width: 58.438rem;
$mid-range-screen-max-width: 72.5rem;

@mixin for-screens-with-max-width($max-width) {
  @media only screen and (max-width: #{$max-width}) {
    @content;
  }
}

@mixin for-xxsmall-screens {
  @include for-screens-with-max-width($xxsmall-max-width) {
    @content;
  }
}

@mixin for-xsmall-screens {
  @include for-screens-with-max-width($xsmall-max-width) {
    @content;
  }
}

@mixin for-small-screens {
  @include for-screens-with-max-width($small-max-width) {
    @content;
  }
}

@mixin for-mid-range-screens {
  @include for-screens-with-max-width($mid-range-screen-max-width) {
    @content;
  }
}
